body {
    background-color: rgb(226, 153, 111);
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
}

h1 {
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-family: Sacramento;
    font-weight: 100;
    margin: 5rem 0rem 2rem 0rem;
}

.contenedorNuevo {
    background-color: rgb(255, 255, 255);
    padding: -1rem;
    margin: 0rem 0rem 2rem 0rem;
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.parrafo {
    text-align: center;
    color:rgb(109, 64, 34);
    font-size: 35px;
    font-family: Sacramento;
    font-weight: 100;
    margin: 2rem;
    padding: 1rem;
}

button {
    display:block;
    margin:auto;
    font-size: 20px;
    font-family: arial;
    font-weight: 100;
    border: 0px;
    background-color: white;
    color:rgb(109, 64, 34);
    padding: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 1010px) {

    .contenedorNuevo {
        padding: -1rem;
        margin: 0rem 0rem 2rem 0rem;
        width: 95%;
        height: 180px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .parrafo {
        font-size: 30px;
        margin: 1rem;
        padding: .5rem;
    }

}
